@charset "utf-8";
/* CSS Document */

body{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;	
	}
	
ul,ol{
	list-style:none;
	margin:0;
	padding:0;
}

.fechaCanje{
	text-align:center;
}

.saldoCanje,
.totalCanje{
	padding:0 10px 0 0;
	text-align:right;
	width:80px;
	}

.contentTotalCanje{
	float:right;
	}

.addUser{
	cursor:pointer;
	}

.cliente{
	margin:0 20px 0 0;
	width:300px;
	}

.toolCompromisos{
	padding:5px 0;
	}

.toolCompromisos span{
	display:inline-block;
	height:16px;
	line-height:16px;
	padding:0 10px 0 20px;
	margin:5px 10px;
	}

.iconDelete,
.iconPrint,
.iconNew{
	height:16px;
	}

.iconDelete{
	background:url(../img/delete.png) no-repeat;
	}

.iconPrint{
	cursor:pointer;
	background:url(../img/print.png) no-repeat;
	}

.iconNew{
	background:url(../img/add.png) no-repeat;
	cursor:pointer;
	}

.iconSave{
	background:url(../img/floppy.png) no-repeat;
	cursor:pointer;
	}

.iconCancel{
	background:url(../img/cancel.png) no-repeat;
	cursor:pointer;
	}

.iconMoneyAdd{
	background:url(../img/money-add.png) no-repeat;
	cursor:pointer;
	}
	
.iconGenerar{
	background:url(../img/list-add.png) no-repeat;
	cursor:pointer;
	}

.tbItems,
.tbNuevoCompromiso,
.tbLetra,
.tbCliente{
	border-collapse:collapse;
	font-size:11.4px;
	margin:20px 0;
	width:100%;
	}
	
.tbItems thead th,
.tbNuevoCompromiso thead th,
.tbLetra thead th,
.tbCliente thead th{
	background:#e51c25;
	color:#FFF;
	text-align:center;
	padding:4px;
	}

.tbItems tbody td,
.tbNuevoCompromiso tbody td,
.tbLetra tbody td,
.tbCliente tbody td{
	border:1px solid #CCC;
	padding:6px 4px;
	}
	
#dialog-link {
	padding: .4em 1em .4em 20px;
	text-decoration: none;
	position: relative;
	}

#dialog-link span.ui-icon {
	margin: 0 5px 0 0;
	position: absolute;
	left: .2em;
	top: 50%;
	margin-top: -8px;
	}

label.error {
	color:red;
	padding:0 4px;
	}
	
.pagination {
	padding:0;
 	margin:20px auto;
}
	
.pagination ul {
  	display: inline-block;
  	*display: inline;
  	margin-bottom: 0;
 	margin-left: 0;
  	-webkit-border-radius: 4px;
    -moz-border-radius: 4px;
   	border-radius: 4px;
  	*zoom: 1;
  	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
   	-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
   	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}

.pagination ul > li {
  display: inline;
}

.pagination ul > li > a,
.pagination ul > li > span {
  float: left;
  padding: 4px 12px;
  line-height: 20px;
  text-decoration: none;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-left-width: 0;
}

.pagination ul > li > a:hover,
.pagination ul > li > a:focus,
.pagination ul > .active > a,
.pagination ul > .active > span {
  background-color: #f5f5f5;
}

.pagination ul > .active > a,
.pagination ul > .active > span {
  color: #999999;
  cursor: default;
}

.pagination ul > .disabled > span,
.pagination ul > .disabled > a,
.pagination ul > .disabled > a:hover,
.pagination ul > .disabled > a:focus {
  color: #999999;
  cursor: default;
  background-color: transparent;
}

.pagination ul > li:first-child > a,
.pagination ul > li:first-child > span {
  border-left-width: 1px;
  -webkit-border-bottom-left-radius: 4px;
          border-bottom-left-radius: 4px;
  -webkit-border-top-left-radius: 4px;
          border-top-left-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  -moz-border-radius-topleft: 4px;
}

.pagination ul > li:last-child > a,
.pagination ul > li:last-child > span {
  -webkit-border-top-right-radius: 4px;
          border-top-right-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
          border-bottom-right-radius: 4px;
  -moz-border-radius-topright: 4px;
  -moz-border-radius-bottomright: 4px;
}

.pagination-centered {
  text-align: left;
}

.pagination-right {
  text-align: right;
}

.pagination-large ul > li > a,
.pagination-large ul > li > span {
  padding: 11px 19px;
  font-size: 17.5px;
}

.pagination-large ul > li:first-child > a,
.pagination-large ul > li:first-child > span {
  -webkit-border-bottom-left-radius: 6px;
          border-bottom-left-radius: 6px;
  -webkit-border-top-left-radius: 6px;
          border-top-left-radius: 6px;
  -moz-border-radius-bottomleft: 6px;
  -moz-border-radius-topleft: 6px;
}

.pagination-large ul > li:last-child > a,
.pagination-large ul > li:last-child > span {
  -webkit-border-top-right-radius: 6px;
          border-top-right-radius: 6px;
  -webkit-border-bottom-right-radius: 6px;
          border-bottom-right-radius: 6px;
  -moz-border-radius-topright: 6px;
  -moz-border-radius-bottomright: 6px;
}

.pagination-mini ul > li:first-child > a,
.pagination-small ul > li:first-child > a,
.pagination-mini ul > li:first-child > span,
.pagination-small ul > li:first-child > span {
  -webkit-border-bottom-left-radius: 3px;
          border-bottom-left-radius: 3px;
  -webkit-border-top-left-radius: 3px;
          border-top-left-radius: 3px;
  -moz-border-radius-bottomleft: 3px;
  -moz-border-radius-topleft: 3px;
}

.pagination-mini ul > li:last-child > a,
.pagination-small ul > li:last-child > a,
.pagination-mini ul > li:last-child > span,
.pagination-small ul > li:last-child > span {
  -webkit-border-top-right-radius: 3px;
          border-top-right-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
          border-bottom-right-radius: 3px;
  -moz-border-radius-topright: 3px;
  -moz-border-radius-bottomright: 3px;
}

.pagination-small ul > li > a,
.pagination-small ul > li > span {
  padding: 2px 10px;
  font-size: 11.9px;
}

.pagination-mini ul > li > a,
.pagination-mini ul > li > span {
  padding: 0 6px;
  font-size: 10.5px;
}

/* form */

.form-control {
	padding: 6px 12px;
	font-size: 12px;
	line-height: 14px;
	color: #555;
	vertical-align: middle;
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	-webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	}

#compromiso{
	background:#F1F1F1;
	}

.red{
	background:#CCC;
	}

.gris{
	background:#F1F1F1;
	}

.form-control[disabled],
.form-control[readonly],
fieldset[disabled] 
.form-control{
	cursor:not-allowed
	}